html, body, header, footer, section, article, div,
strong, a, img, p, h1, h2, h3, time, ul, li, small,
form, label {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  color: #ccc;
  background: #111;
  font-size: 16px;
  line-height: normal;
  margin: 0;
  background: #222222;
  font-family: 'Lato', sans-serif;
}

canvas {
  display: block;
  margin: auto;
}

li {
  list-style: none;
}

h1 {
  display: block;
  font-size: 60px;
  font-weight: 100;
  margin: auto;
  margin-top: 10px;
  width: 275px;
  padding: 30px;
}

h2 {
  display: block;
  font-size: 30px;
  font-weight: 200;
  margin: auto;
  margin-top: 10px;
  width: 110px;
  padding-top: 20px;
  padding-bottom: 5px;
}

ul {
  display: block;
  margin: auto;
  width: 899px;
  padding-left: 30px;
}

ul li {
  display: inline-block;
  font-size: 20px;
  font-weight: 200;
  margin: auto;
  margin-top: 10px;
  margin-right: 30px;
}

a {
  display: block;
  text-align: center;
  color: #ccc;
  margin-top: 45px;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 24px;
  text-decoration: none;
}

a:hover {
  color: #888;
  transition: color .9s ease;
}